In [ ]:
# OPEN & READ an CSV file
f = open('US_births_1994-2003_CDC_NCHS.csv', 'r')
data= f.read().split('\n')
#3birth_data = data.split('\n')
data[0:10]

In [ ]:
# CREATE A FUNCTION TO OPEN A CSV FILE 
## Converting Data Into A List Of Lists

def read_csv(f, mode):
    data = open(f,mode).read().split('\n')
    string_list = data[1:len(data)]
    final_list=[] 
    for each in string_list:
        string_fields = each.split(',')
        int_fields =[]
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)              
    return final_list

In [38]:
cdc_list= read_csv("US_births_1994-2003_CDC_NCHS.csv","r")
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [ ]:
# Calculating Number Of Births Each Month
def month_births(input_list):
    births_per_month ={}
    for date_of_month in input_list:
        month = date_of_month[1]
        birth = date_of_month[4]
        if month in births_per_month:
            births_per_month[month]= births_per_month[month]+ birth
        else:
            births_per_month[month] = birth
    return births_per_month

In [40]:
cdc_month_births = month_births(cdc_list)

In [41]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [ ]:
# Calculating Number Of Births Each Day Of Week
def dow_births(input_list):
    day_of_week ={}
    for each in input_list:
        week = each[3]
        birth = each[4]
        if week in day_of_week:
            day_of_week[week] += birth
        else:
            day_of_week[week] = birth
    return day_of_week

In [43]:
cdc_day_births = dow_births(cdc_list)

In [44]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [45]:
Create a General Function to
def calc_counts(data, column):
    total_num={}
    for each in data:
        i = each[column]
        birth = each[4]
        if i in total_num:
            total_num[i] += birth
        else:
            total_num[i] = birth
    return total_num

In [46]:
cdc_year_births = calc_counts(cdc_list,0)
cdc_month_births = calc_counts(cdc_list,1)
cdc_dom_births = calc_counts(cdc_list,2)
cdc_dow_births = calc_counts(cdc_list,3)

In [47]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [48]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [49]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [50]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}